Flask
Flask-Cors
scikit-learn==0.19.2
scipy==1.8.0
gunicorn
numpy
absl-py
appdirs
asttokens
astunparse
audioread
backcall
backports.zoneinfo
beautifulsoup4
cachetools
certifi
cffi
charset-normalizer
click
colorama
cycler
debugpy
decorator
Deprecated
docopt
entrypoints
executing
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
Js2Py
jupyter-client
jupyter-core
keras
Keras-Preprocessing
kiwisolver
libclang
librosa==0.9.1
llvmlite==0.38.0
Markdown
MarkupSafe
matplotlib
matplotlib-inline
nest-asyncio
numba
oauthlib
opt-einsum
packaging
parso
pickleshare
Pillow
pooch
prompt-toolkit
protobuf
psutil
pure-eval
pyasn1
pyasn1-modules
PyAudio
pycparser
Pygments
pyjsparser
pyparsing
PyPrind
pySmartDL
python-dateutil
python-speech-features
pytz-deprecation-shim
pyzmq
redis
requests
requests-oauthlib
resampy
rs
setuptools
six
SoundFile
soupsieve
stack-data
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-io-gcs-filesystem
termcolor
tf-estimator-nightly
threadpoolctl
torch
torchaudio
torchsummary
torchvision
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
wcwidth
Werkzeug
wheel
wrapt
zipp
